<?xml version="1.0"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         strict="true"
         processIsolation="false"
         stopOnFailure="true">

    <testsuites>
        <testsuite name="db">
            <directory suffix=".test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="database_host" value="localhost" />
        <const name="database_username" value="root" />
        <const name="database_password" value="root" />
        <const name="database_name" value="test" />
    </php>
</phpunit>
